{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
    <div class="col-md-5"> 
    {{form_start(form, {'method': 'POST'})}}
        {{ form_errors(form) }}

        {{form_label(form.name)}}
        {{form_widget(form.name, {'attr':{'autocomplete':'off'}})}}

        {{form_label(form.email)}}
        {{form_widget(form.email, {'attr':{'autocomplete':'off'}})}}

        {{form_label(form.categories)}}
        {{form_widget(form.categories, {'attr':{'autocomplete':'off'}})}}
        
        {{form_widget(form.reset, {'label':'Reset'})}}
        {{form_widget(form.save, {'label':'Subscribe'})}}

    {{form_end(form)}}
    </div>
{% endblock %}